*,
*::before,
*::after {
  box-sizing: border-box;
}

.ql-editor {
  text-align: center !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  cursor: text;
  min-height: 400px;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  font-family: "Roboto";
  text-align: left;
}

#editorAnswer-0 .ql-editor,
#editorAnswer-1 .ql-editor,
#editorAnswer-2 .ql-editor,
#editorAnswer-3 .ql-editor,
#editorAnswer-4 .ql-editor
{
  text-align: center !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: text;
  min-height: 300px;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  font-family: "Roboto";
}

.ql-editor::placeholder {
  color: #ffffff !important;
}

.ql-formula {
  display: inline-flex;
  padding: 10px;
  padding-top: 10px;
}

#editor .ql-editor .ql-formula:hover{
  background-color: rgba(255, 166, 0, 0.5);
}

.ql-formula:hover{
  cursor: pointer;
  border: #bbb dashed 2px;
}

.ql-editor.dimmed {
  background-color: rgba(0, 0, 0, 0.5);
}


.ql-formula.clicked {
  border: 2px solid red;
  background-color: rgba(255, 166, 0, 0.5);
}

.image {
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  height: auto;
}
/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 50; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
.caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

#page {
  display: flex;
  justify-content: center;
  align-items: center;
}

#h3 {
  color: white;
}

#ring {
  width: 290px;
  height: 290px;
  border: 1px solid transparent;
  border-radius: 50%;
  position: absolute;
}

#ring:nth-child(1) {
  border-bottom: 8px solid rgb(255, 141, 249);
  animation: rotate1 2s linear infinite;
}

@keyframes rotate1 {
  from {
    transform: rotateX(50deg) rotateZ(110deg);
  }

  to {
    transform: rotateX(50deg) rotateZ(470deg);
  }
}

#ring:nth-child(2) {
  border-bottom: 8px solid rgb(255,65,106);
  animation: rotate2 2s linear infinite;
}

@keyframes rotate2 {
  from {
    transform: rotateX(20deg) rotateY(50deg) rotateZ(20deg);
  }

  to {
    transform: rotateX(20deg) rotateY(50deg) rotateZ(380deg);
  }
}

#ring:nth-child(3) {
  border-bottom: 8px solid rgb(0,255,255);
  animation: rotate3 2s linear infinite;
}

@keyframes rotate3 {
  from {
    transform: rotateX(40deg) rotateY(130deg) rotateZ(450deg);
  }

  to {
    transform: rotateX(40deg) rotateY(130deg) rotateZ(90deg);
  }
}

#ring:nth-child(4) {
  border-bottom: 8px solid rgb(252, 183, 55);
  animation: rotate4 2s linear infinite;
}

@keyframes rotate4 {
  from {
    transform: rotateX(70deg) rotateZ(270deg);
  }

  to {
    transform: rotateX(70deg) rotateZ(630deg);
  }
}
